@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background-gradient-1: hsl(214, 47%, 23%);
  --background-gradient-2: hsl(237, 49%, 15%);
  --header-border: hsl(217, 16%, 45%);
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --scissors-1: hsl(39, 89%, 49%);
  --scissors-2: hsl(40, 84%, 53%);
  --paper-1: hsl(230, 89%, 62%);
  --paper-2: hsl(230, 89%, 65%);
  --rock-1: hsl(349, 71%, 52%);
  --rock-2: hsl(349, 70%, 56%);
  --shadow-light: #00000026;
  --shadow-med: #0000004d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: radial-gradient(
    at top,
    var(--background-gradient-1),
    var(--background-gradient-2)
  );
  font-family: "Barlow Semi Condensed", serif;
  /* overflow: hidden; */
}

.container {
  position: relative;
  max-width: 700px;
  margin: 0 auto 0 auto;
  padding-top: 50px;
  /* height: 100vh; */
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  border: 3px solid hsl(217, 16%, 45%);
  max-width: 700px;
  border-radius: 20px;
}

.game-name {
  color: white;
}

.game-name p {
  font-size: 40px;
  font-weight: bold;
}

.score-container {
  background-color: white;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.score-text {
  color: hsl(229, 64%, 46%);
  letter-spacing: 2px;
  font-weight: bold;
}

.score {
  font-size: 50px;
  font-weight: bold;
  color: hsl(229, 25%, 31%);
}

/* Game */
.game {
  position: relative;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "paper scissors"
    "rock rock";
  margin-top: 50px;
  height: 450px;
  transition: opacity 100ms ease-in-out;
}

.game::after {
  content: "";
  position: absolute;
  background: url("./images/bg-triangle.svg") no-repeat;
  width: 100%;
  height: 100%;
  left: 28%;
  top: 23%;
  z-index: -2;
  /* transform: translateX(-50%) translateY(-50%); */
}

.choice-wrapper {
  outline: none;
  border: none;
  cursor: pointer;
}

.choice {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: white;
  display: grid;
  place-items: center;
  position: relative;
  box-shadow: inset 0 7px 0 var(--shadow-light);
}

.choice::before {
  content: "";
  position: absolute;
  width: 130%;
  height: 130%;
  border-radius: 50%;
  z-index: -1;
}

.choice.paper::before {
  background: linear-gradient(to bottom, var(--paper-1), var(--paper-2));
  box-shadow: 0 8px 0 var(--shadow-med), 0 8px 0 var(--paper-2);
}

.choice.scissors::before {
  background: linear-gradient(to bottom, var(--scissors-1), var(--scissors-2));
  box-shadow: 0 8px 0 var(--shadow-med), 0 8px 0 var(--scissors-2);
}

.choice.rock::before {
  background: linear-gradient(to bottom, var(--rock-1), var(--rock-2));
  box-shadow: 0 8px 0 var(--shadow-med), 0 8px 0 var(--rock-2);
}

.choice img {
  scale: 1.4;
}

.choice-wrapper[data-choice="paper"] {
  grid-area: paper;
}

.choice-wrapper[data-choice="scissors"] {
  grid-area: scissors;
}

.choice-wrapper[data-choice="rock"] {
  grid-area: rock;
}

/* Results */

.results {
  display: grid;
  column-gap: 180px;
  place-items: center;
  align-items: start;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "user-text computer-text"
    "user-result computer-result";
  max-width: 1000px;
  width: 700px;
  height: 450px;
  position: absolute;
  bottom: 0;
  /* z-index: -2; */
  transition: opacity 100ms ease-in-out;
}

.text {
  color: white;
  position: relative;
}

.text.user-text {
  grid-area: user-text;
}

.text.computer-text {
  grid-area: computer-text;
}

.result {
  /* width: 130px;
  height: 130px;
  border-radius: 50%; */
  scale: 1.3;
}

.dark-circle {
  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: var(--background-gradient-2);
  opacity: 0.4;
  z-index: -5;
}

.result.user-result {
  grid-area: user-result;
}

.result.computer-result {
  position: relative;
  grid-area: computer-result;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .result.computer-result .choice{
  opacity: 0;
  
} */

.final-result {
  opacity: 0;
  position: absolute;
  align-self: center;
  text-align: center;
  z-index: 10;
  grid-area: play-again;
}

.final-result-text {
  font-size: 50px;
  color: white;
  margin-bottom: 10px;
  letter-spacing: 3px;
}

.play-again {
  width: 100%;
  padding: 15px 30px;
  outline: none;
  border: none;
  background-color: #fff;
  border-radius: 5px;
  color: var(--dark-text);
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold;
  cursor: pointer;
}

.play-again:hover {
  color: var(--rock-2);
}

.rules-btn {
  outline: none;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 13px 40px;
  border-radius: 8px;
  font-weight: bold;
  letter-spacing: 2px;
  position: absolute;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
}

.modal-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -20;
  overflow: hidden;
}

.modal-shadow {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.modal {
  /* width: 400px; */
  /* height: 500px; */
  background-color: white;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(150%);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h1 {
  font-size: 36px;
  letter-spacing: 3px;
}

.close-btn {
  cursor: pointer;
}

.modal-image-wrapper {
  padding-inline: 20px;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  z-index: -2;
}

.shown {
  animation: displayComputerChoice 1s 1s forwards;
}

.show-final {
  animation: displayComputerChoice 1s 2s forwards;
}

.left {
  animation: moveToLeft 1s 2s forwards;
}

.left-text {
  animation: moveTextToLeft 1s 2s forwards;
}

.right {
  animation: moveToRight 1s 2s forwards;
}

.right-text {
  animation: moveTextToRight 1s 2s forwards;
}

.computer-choice-wrapper {
  opacity: 0;
}

.show-modal {
  animation: showModal 500ms forwards;
}

.move-modal {
  animation: moveModal 500ms forwards;
}

@keyframes displayComputerChoice {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveToLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes moveTextToLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes moveToRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(50%);
  }
}

@keyframes moveTextToRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(60%);
  }
}

@keyframes showModal {
  0% {
    opacity: 0;
    z-index: -20;
  }
  100% {
    opacity: 1;
    z-index: 15;
  }
}

@keyframes moveModal {
  0% {
    transform: translateX(-50%) translateY(150%);
  }
  100% {
    transform: translateX(-50%) translateY(-50%);
  }
}

@media screen and (max-width: 1024px) {
  body {
    height: 200px;
    overflow-x: hidden;
  }
  .results {
    column-gap: 70px;
    padding-inline: 20px;
  }

  .result .choice {
    width: 130px;
    height: 130px;
  }

  .final-result-text {
    font-size: 36px;
  }

  .play-again {
  }

  @keyframes moveTextToLeft {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-76%);
    }
  }

  @keyframes moveTextToRight {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(48%);
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }

  header {
    width: 350px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 15px 10px 10px 15px;
  }

  .game-name {
    width: 100px;
  }

  .game-name img {
    width: 100%;
    height: 100%;
  }

  .score-container {
    padding: 10px 20px;
    border-radius: 10px;
  }

  .score-text {
    font-size: 12px;
  }

  .score {
    font-size: 36px;
  }

  .game::after {
    top: 24%;
    left: 13%;
  }

  .choice {
    width: 120px;
    height: 120px;
  }

  .choice img {
    scale: 1;
  }

  .results {
    width: 100%;
    margin: 0 auto;
    grid-template-areas:
      "user-result computer-result"
      "user-text computer-text";
    padding: 0;
    align-items: center;
    column-gap: 10px;
  }

  .result{
    scale: 1;
  }

  .dark-circle{
    width: 80px;
    height: 80px;
  }

  .text{
    align-self: start;
    font-size: 18px;
    letter-spacing: 2px;
  }

  .result .choice {
    width: 120px;
    height: 120px;
  }

  .left {
    animation: none;
  }

  .left-text {
    animation: none;
  }

  .right {
    animation: none;
  }

  .right-text {
    animation: none;
  }
}
