@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: radial-gradient(circle, #162D4A 0%, #0D1026 100%);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    font-family: "Barlow Semi Condensed", serif;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border: 3px solid hsl(217, 16%, 45%);
    max-width: 1366px;
    width: 800px;
    margin-top: 100px;
    border-radius: 20px;
}

.game-name{
    color: white;
}

.game-name p {
    font-size: 40px;
    font-weight: bold;
}

.score-container{
    background-color: white;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.score-text{
    color: hsl(229, 64%, 46%);
    letter-spacing: 2px;
    font-weight: bold;
}

.score{
    font-size: 50px;
    font-weight: bold;
    color: hsl(229, 25%, 31%)
}