@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root{
  --background-gradient-1: hsl(214, 47%, 23%);
  --background-gradient-2: hsl(237, 49%, 15%);
  --header-border: hsl(217, 16%, 45%);
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --scissors-1: hsl(39, 89%, 49%);
  --scissors-2: hsl(40, 84%, 53%);
  --paper-1: hsl(230, 89%, 62%);
  --paper-2: hsl(230, 89%, 65%);
  --rock-1: hsl(349, 71%, 52%);
  --rock-2: hsl(349, 70%, 56%);
  --shadow-light: #00000026;
  --shadow-med: #0000004d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: radial-gradient(at top, var(--background-gradient-1), var(--background-gradient-2));
  font-family: "Barlow Semi Condensed", serif;
  overflow: hidden;
}

.container{
  position: relative;
  max-width: 700px;
  margin: 50px auto 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  border: 3px solid hsl(217, 16%, 45%);
  max-width: 1366px;
  width: 700px;
  border-radius: 20px;
}

.game-name {
  color: white;
}

.game-name p {
  font-size: 40px;
  font-weight: bold;
}

.score-container {
  background-color: white;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.score-text {
  color: hsl(229, 64%, 46%);
  letter-spacing: 2px;
  font-weight: bold;
}

.score {
  font-size: 50px;
  font-weight: bold;
  color: hsl(229, 25%, 31%);
}

.game{
  position: relative;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "paper scissors"
  "rock rock";
  margin-top: 50px;
  height: 450px;
}

.choice-wrapper{
  outline: none;
  border: none;
  cursor: pointer;
}

.choice{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: white;
  display: grid;
  place-items: center;
  position: relative;
  box-shadow: inset 0 7px 0 var(--shadow-light);
}

.choice::before{
  content: '';
  position: absolute;
  width: 130%;
  height: 130%;
  border-radius: 50%;
  z-index: -1;
 
}


.choice.paper::before{
  background: linear-gradient(to bottom, var(--paper-1), var(--paper-2));
  box-shadow:  0 8px 0 var(--shadow-med),0 8px 0 var(--paper-2);
}

.choice.scissors::before{
  background: linear-gradient(to bottom, var(--scissors-1), var(--scissors-2));
  box-shadow:  0 8px 0 var(--shadow-med),0 8px 0 var(--scissors-2);
}

.choice.rock::before{
  background: linear-gradient(to bottom, var(--rock-1), var(--rock-2));
  box-shadow:  0 8px 0 var(--shadow-med),0 8px 0 var(--rock-2);
}

.choice img{
  scale: 1.4;
}

.choice-wrapper[data-choice="paper"]{
  grid-area: paper;
}

.choice-wrapper[data-choice="scissors"]{
  grid-area: scissors;
}

.choice-wrapper[data-choice="rock"]{
  grid-area: rock;
}


